.left-column img{
    position: absolute;
    z-index: -1;
}
.left-column h1{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.left-column p{
    text-align: center;
    color: white;
}
.right-column h1{
    text-align: center;
    color:rgb(16, 176, 239);
    text-shadow: 2px 2px whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 100px;
}
.right-column h5{
    position: relative;
    text-align: center;
    font-size: 15px;
    color:gray;
    margin-top: 0px;
}
.form{
    text-align: center;
}
.form label{
    position: relative;
    z-index: 1;
    color: rgb(16, 176, 239);
}
.form input[type="email"],
input[type="password"]{
    width: 50%;
    height: 50%;
    border-radius:10px;
    border-color: rgb(16, 176, 239);
    padding-top:10px ;
}
.form a{
    margin-left: 300px;
    font-size: 10px;
}
.form a{
    color: black;
    text-decoration: none;
}
.form button{
    background-color:rgb(16, 176, 239);
    color: white;
    padding:10px;
    width: 20%;
    border: solid 1px white;
    border-radius: 5px;
}
.cen{
    text-align: center;
}
.social-media{
    text-align: center;
}
.social-media img{
    margin: 20px;
    border: 1px solid white;
    background-color: antiquewhite;
}
p{
    text-align: center;
}
p a{
    color: black;
    text-decoration: none;
}